.lead__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    /* or 110% */
    text-align: center;
    
    color: #FFFFFF;

    margin: 0 auto 16px;
    max-width: 288px;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     
}


